<button class="btn btn-mini btn-danger bar-control decrease-attr" data-control-type="decrease" data-for="<%= bar_controls %>"><i class="icon-minus"></i></button>
<button class="btn btn-mini btn-danger bar-control fast-decrease-attr" data-control-type="fast_decrease" data-for="<%= bar_controls %>"><i class="icon-minus"></i>10</button>
<button class="btn btn-mini btn-success bar-control increase-attr" data-control-type="increase" data-for="<%= bar_controls %>"><i class="icon-plus"></i></button>
<button class="btn btn-mini btn-success bar-control fast-increase-attr" data-control-type="fast_increase" data-for="<%= bar_controls %>"><i class="icon-plus"></i>10</button>
