<button class="btn btn-mini btn-danger decrease-attr"><i class="icon-minus"></i></button>
<button class="btn btn-mini btn-danger fast-decrease-attr"><i class="icon-minus"></i>10</button>
<button class="btn btn-mini btn-success increase-attr"><i class="icon-plus"></i></button>
<button class="btn btn-mini btn-success fast-increase-attr"><i class="icon-plus"></i>10</button>
