<dt><%= @tome.value_of "#{character_alignment}_label", :alignment_label %></td>
<dd class="span5 character-alignment">
  <div class="progress">
    <div class="bar" style="width: <%= @tome.value_of character_alignment, :alignment %>%;"></div>
  </div>
</dd>
