<div class="row-fluid goal">
  <h4><%= goal.label %></h4>

  <div class="span10">
    <div class="progress">
      <div class="bar" style="width: <%= goal.accomplished_percent %>%;">
      </div>
    </div>
  </div>
</div>
