<div class="page-header">
  <h1>This is an example header</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Example DT:</strong></dt>
  <dd>DD Value</dd>
  <dt><strong>Example DT 2:</strong></dt>
  <dd>DD Value 2</dd>
</dl>

<div class="form-actions">
  <a href="/" class="btn">Back</a>
  <a href="/" class="btn btn-danger">Dangerous</a>
</div>
