<div class="span12">
  &nbsp;
</div>

<div class="span12">
  &nbsp;
</div>

<div class="alert alert-error offset3 span6">
  <center>
    <h3>Something... uh... bad... happened....</h3>
  </center>
</div>
