<div class="row-fluid">
  <div class="span3 pull-right">
    <center>
      <iframe src="http://rcm.amazon.com/e/cm?t=charactertome-20&o=1&p=8&l=as1&asins=042525318X&ref=qf_sp_asin_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </center>
  </div>

  <div class="hero-unit span9">
    <h1>
      <%= image_tag "large-logo.png" %>
      Character Tome
    </h1>

    <small class="tagline">Level up in Real Life!</small>

    <p>
      <small>
        Inspired by Chris Hardwick's book:
        <a href="http://www.amazon.com/gp/product/042525318X/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=042525318X&linkCode=as2&tag=charactertome-20">The Nerdist Way: How to Reach the Next Level (In Real Life)</a><img src="http://www.assoc-amazon.com/e/ir?t=charactertome-20&l=as2&o=1&a=042525318X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </small>
    </p>

    <p>
      <small>
        <a href="http://www.amazon.com/gp/product/B0054TVW1S/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0054TVW1S&linkCode=as2&tag=charactertome-20">Get the Kindle edition</a><img src="http://www.assoc-amazon.com/e/ir?t=charactertome-20&l=as2&o=1&a=B0054TVW1S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </small>
    </p>

    <p>
      <a class="btn btn-primary btn-large" href="/tomes/me">
        My Tome
      </a>
    </p>
  </div>
</div>
